<div class="game-card" [routerLink]="['/game', game.id]">
  <div class="image-container">
    <img [src]="game.background_image || 'https://ionicframework.com/docs/img/demos/thumbnail.svg'" [alt]="game.name" loading="lazy">
    
    <div class="score-badge" *ngIf="game.metacritic">
      {{ game.metacritic }}
    </div>
  </div>
  
  <div class="info-container">
    <h4 class="title">{{ game.name }}</h4>
    <div class="meta">
      <span class="year" *ngIf="game.released">{{ game.released | date:'yyyy' }}</span>
      <div class="rating" *ngIf="game.rating">
        <ion-icon name="star"></ion-icon>
        <span>{{ game.rating | number:'1.1-1' }}</span>
      </div>
    </div>
  </div>
</div>