<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Amigos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="friends-content">
  <div class="empty-state">
    <div class="empty-icon">
      <ion-icon name="people-outline"></ion-icon>
    </div>
    <p class="empty-title">Amigos</p>
    <p class="empty-subtitle">Busca gamers y añádelos como amigos para ver su actividad y colecciones.</p>
  </div>
</ion-content>
