// src/app/UI/my-games/my-games.page.scss

.my-games-content {
  --background: var(--background);
}

.empty-state {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3rem 1rem;
  text-align: center;

  p {
    font-size: var(--font-size-base);
    line-height: var(--line-height-base);
  }
}
